.sidebar{
  width: 30%;
  float: right; 
  background-color: aquamarine
}
.column1{
  width: 300px; 
  float: left; 
  background-color: goldenrod;
}
.column2{
  width: 300px; 
  float: left; 
  background-color: teal;

}
.column3{
  width: 300px; 
  float: left; 
  background-color: indigo;
}